@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
}

footer {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.main img {

    margin: auto;
    width: 80%;
}

.main h3 {
    font-size: 2rem;
    font-weight: 700;

}

.main h4 {
    font-size: 1.5rem;
    font-weight: 700;

}

.main {
    position: relative;
    padding: 7% 15%;

}

/* .main:before {

    content: "";
    background-image: url(../images/white-marble.jpg);
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
} */

#mission,
#maps {
    content: "";
    background-image: url(../images/white-background.png);
    background-size: cover;
   
    background-position: center center;
}

.white-bg {
    position:relative;
    ;
    background-image: url(../images/white-background.png);
    background-size: cover;
    
    background-position: 50% 50%;
    
}

.main:after {
    position: relative;
}

#main div .main-button {
    margin: 3% 0;
}

.detail-bg {
    content: "";
    padding: 150px;
    
    background-image: url(../images/carwash.png);
    background-size: cover;
    background-position: center;
}

.blkcar-bg {
    content: "";
    padding: 150px;
    
    background-image: url(../images/blk-car.png);
    background-size: cover;
    background-position: center;
}

.ceramic-bg {
    content: "";
    padding: 150px;
    background-image: url(../images/ceramic-bg.png);
    background-size: cover;
    background-position: center;
}

hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #bb5c0e;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 25%;
}

hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #bb5c0e;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

nav li {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white !important;
}

nav a {

    font-family: 'Roboto', sans-serif;
}

nav a:hover{
    color: hsl(27, 100%, 63%) !important;
}

a {
    position: relative;
    text-decoration: none;
    position: relative;
    transition: color .4s ease-out;
  }
  nav a::after {
      border-radius: 1em;
      border-top: .1em solid #bb5c0e;
      content: "";
      position: absolute;
        right: 100%;
        bottom: .14em;
        left: 0;
      transition: right .4s cubic-bezier(0,.5,0,1);
    }
    
  
  nav a:hover::after {
    right: 0;
   
  }

.btn.btn-light {
    color: #bb5c0e !important;
}
.btn.btn-dark {
    background-color: #bb5c0e !important;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.modal-link {
    color: black;
    text-decoration: underline;
}
.content-text {
    font-size: 1.5;
    padding: 0 1em;
    text-align: left;
    line-height: 1.8rem;
    margin: 0;
}

.heading-text {
    text-align: left;
}
.buttons {
    margin-top: 2%;
}

.icon-container {
    padding: 3% 15%;
}

.feature-header {
    font-size: 1.3rem;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

#footer {
    background-color: #212529
}

.footer-container {
    padding: 3% 10%;
}

#mission .service-container a {
    background-color: black;
    color: #bb5c0e;
    border: 2px solid white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#mission .service-container a:hover,
#mission .service-container a:active {
    background-color: #bb5c0e;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #bb5c0e;
}

.btn-warning {
    color: white;
    background-color: #bb5c0e !important;
}

.mikepic {
    background-image: url(../images/mike.jpg);
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-left: 10%;
    padding: 17%;

}

.tylerpic {
    background-image: url(../images/tyler.jpg);
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-left: 10%;
    padding: 17%;

}


#staff {
    background-color: #212529;
    color: white;
}

#staff h4 {
    text-align: center;
}

#tint-table.container-fluid>h1 {
    color: white;
}

#bg.container-fluid.tint-animation.svg {
    position: absolute;
    display: block;
    top: 0 ;
    z-index: -1;
  
}
.tint-text.column h1 {
    text-align: center;
    position: relative;
    top: 15%
}

.tint-container {
    padding: 3% 15%;
}
.tint-btn {
    
}

.column p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: right;
}
.ui.raised.segment img {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.header {
    background-color: #bb5c0e;
    color: #fffefc;
    margin-top: 3%;
    padding: 3%;
}

.container-fluid {
 padding-top: 10%;
}
.detail-container {
    padding: 10%;
    width: 100%;
    
    
}

.triangle {
    background-image: url("../images/trianglify.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo-container {
    padding: 5% 15% 0% 15%;
}

.title {
    padding-top: 2%;
}

.service-container {
    padding-bottom: 7%;
}

.description {
    word-wrap: break-word;
    
}




#footer {
    font-family: 'Lato', sans-serif !important;
    color: white;
}

#footer h2 {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.2rem;
}

#footer .p-right {
    padding-right: 10% !important;
    flex-grow:1;
    min-height: 0;
}

.m-container {
    padding: 5%;
}

.t-container {
    padding: 5%;
}

.feature-box {
    padding: 2%;
}

.padding {
    padding-top: 5%;
}



.svg {
    background-color: radial-gradient(ellipse at center, #fffefc 0%, rgb(136, 136, 136) 100%);
    overflow: hidden;
  }

  #bg {

      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
   ;
  }

 